.headerclass {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 15px;
}

.maincontainer {
    text-align: center;
    margin-top: 10%;
}

#countdown-timer {
    text-align: center;
    margin-bottom: 0px;
}

#question-container {
    text-align: center;
}

#endingMessage {
    text-align: center;
}

.answer-btns {
    margin: 5px;
    text-align: center;
}

.submitBtn {
    margin: 5px;
}

#submit-score {
    margin-left: 5px;
}

.finalTxt {
    text-align: center;
}

.hide {
    display: none;
}

#footerid {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #007bff;
    color: white;
}

.footertext {
    margin-top: 16px;
}