.headerclass {
    text-align: center;
    background-color: rgb(49, 96, 143);
    color: white;
    padding: 15px;
}

.maincontainer {
    text-align: center;
    margin-top: 10%;
}

#countdown-timer {
    text-align: center;
    margin-bottom: 0px;
}

.hide {
    display: none;
}

#footerid {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(49, 96, 143);
    color: white;
}

.footertext {
    margin-top: 16px;
}